<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      <a href="{{ item.url | relative_url }}">
        {{ item.name }}
        {% if item.name == 'Services' %}
          <i class="bi bi-chevron-down"></i>
        {% endif %}
      </a>
      {% if item.name == 'Services' %}
        <ul class="services-dropdown">
          {% for service in site.services %}
            <li><a href="{{ service.url | relative_url }}">{{ service.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>