<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Wonder Advisory",
  "image": "https://www.wonderadvisory.com/images/logo/logo.svg",
  "url": "https://wonderadvisory.com",
  "telephone": "+961 81 686 043",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "123 Main St",
    "addressLocality": "Beirut",
    "addressCountry": "LB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 33.8938,
    "longitude": 35.5018
  },
  "openingHoursSpecification": [
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday"
    ],
    "opens": "08:30",
    "closes": "17:00"
  },
  {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Friday",
      "Saturday"
    ],
    "opens": "10:00",
    "closes": "16:00"
  }
],
  "sameAs": [
    "http://www.linkedin.com/company/wonderadvisory"
  ]
}
</script>