.card {
  height: 124px; // Set a specific height
  border: 1px dashed darken($white-offset, 100%);
  border-radius: 1px;
  padding: 50px;
  background-color: lighten($white-offset, 10%);
  display: flex;
  align-items: center;
  justify-content: center; // Add this to vertically center the text
  flex-direction: column;
  text-align: center;
  .card-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .card-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}